
<!-- displaying search box and save button at the top of front page.  -->
<h1>Notes</h1>
<div class="search">
  <form class="" action="index.html" method="post">
    <input type="text" name="note" value="Add a note">
    <button type="button" name="button">Save</button>
  </form>
</div>

<!-- displaying edit button with its current value using for loop.  -->
<div class="edit" *ngFor = "let note of notes">
  <button  style="background-color:blue ; color:white" type="button" name="button">Edit</button> <span>{{note.name}}</span>
  <app-edit></app-edit>
</div>
